/*
 *  terms-and-policies
 */

header {
	margin-top:2%;
}

body {
	color:#666; 
	font-size:.9em;
}

.terms-and-policies-wrapper {
	margin: 5% 15%;
}

.privacy-policy-list li {
	margin-left: 3em;
}	

a {
	text-decoration: none !important; 
	box-shadow: none !important; 
	color: #00539f;
}

a:hover {
	color: #009fdd;
}

h2 {
	color: #00539f;
}

p {
	font-weight: 400; 
	font-size:.9em;
}

.bold {
	font-weight:bold; 
	font-size: 1.1em;
}

.font9em li {
	font-size: .9em;
}

