$white: #FFFFFF;
$off-white: #F0F0F0;
$black: #222222;
$blue: #0066AA;
$darkened-blue: #00568F;
$dark-blue: #003366;
$form-heading-blue: #1F386A;
$red: #BE604A;
$darkened-red: #B05440;
$error-red: #C61111;
$success-green: #74B42F;
$green: #99CC00;
$light-green: #B4F000;
$darkened-green: #86B300;
$form-text-gray: #979898;
$form-text-grey: $form-text-gray;
$gray: #555555;
$grey: $gray;
$light-gray: #8E9090;
$light-grey: $light-gray;
$dark-gray: #2D2D2D;
$dark-grey: $dark-gray;
$light-white: #F4F4F4;
$semi-dark-grey: #56565A;
$semi-dark-gray: $semi-dark-grey;
$super-light-grey: #CECECE;
$super-light-gray: $super-light-grey;
$light-blue: #8ED8F8;
$downriver: #052554;
$extra-light-grey: #838383;
$downriver-rgba: rgba(5, 37, 84, 0.65);
$white-rgba: rgba(255, 255, 255, 0.50);
$white-rgba-dark: rgba(255, 255, 255, 0.75);

$aez-link-color: #00539F;
$aez-link-hover: #009FDD;

$primary-color: $blue;
$secondary-color: $green;
$primary-font: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$primary-transition: all 0.20s ease-in;
$primary-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


/* Messanging */

$success-text: #4F8A10;
$success-background: #DFF2BF;
$success-bright: #74B42F;
$notice-text: #00529B;
$notice-background: #BDE5F8;
$notice-bright: #0072AB;
$warning-text: #9F6000;
$warning-background: #FEEFB3;
$warning-bright: #AF8000;
$error-text: #D8000C;
$error-background: #FFBABA;
$error-bright: #C61111;